* {
    margin: 0;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}


/* Header */

header {
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-menu {
    display: flex;
    margin: 0 25rem 0 0;
}

.header-links {
    display: flex;
    margin: 1rem;
}


/* Inicial */

.container-inicial {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2rem 5rem 2rem 5rem;
}

.background-image {
    background-image: url('https://st2.depositphotos.com/1010652/10747/v/950/depositphotos_107470690-stock-illustration-various-food-doodle-seamless-background.jpg');
}


/* Sobre nos */

.container-sobre-nos {
    display: flex;
    align-items: flex-end;
    margin: 2rem 5rem 2rem 5rem;
}

.sobre-nos-text {
    margin: 2rem 5rem 2rem 5rem;
    display: flex;
    flex-direction: column;
}


/* Venha nos conhecer */

.venha-nos-conhecer {
    margin: 2rem 5rem 2rem 5rem;
    display: flex;
    flex-direction: column;
}

.container-venha-conhecer {
    display: flex;
    align-items: center;
    margin: 2rem 5rem 2rem 5rem;
}

#home-page img {
    width: 50%;
    max-width: 35vw;
    border-radius: 5%;
    box-shadow: 5px 5px 5px 2px rgba(163, 146, 146, 0.2);
}


/* footer */

.footer-container {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}